
##############################
## Project
##############################
/.github/*
/src/core_pyhon/.venv/
/misc/corpus/pdf/
/misc/corpus/txt/

##############################
## Angular
##############################
webapp/angular/
main/webapp/angular/
/web/.angular/
/.angular/

##############################
## Java
##############################
.titanic
*.class
*.war
*.ear
hs_err_pid*
logs/
*.log
*.py[cod]

##############################
## Maven
##############################
target/
pom.xml.tags
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
.build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
src/angular/node_modules/
src/main/webapp/angular
*.iml
*.ipr
*.iws
node_modules/

##############################
## Eclipse
##############################
.settings/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/out-tsc

##############################
## Visual Studio Code
##############################
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
*.launch
.c9/

##############################
## OS X
##############################
.DS_Store

##############################
## Generated by Windows
##############################
Thumbs.db

##############################
## profiling files
##############################
chrome-profiler-events*.json

##############################
## Only exists if Bazel was run
##############################
/bazel-out

# Applications
*.app
*.exe

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
/src/cmd_pyhon/venv/

##############################
## LaTeX (tcc)
##############################
latex/**/*.aux
latex/**/*.bbl
latex/**/*.bcf
latex/**/*.blg
latex/**/*.fdb_latexmk
latex/**/*.fls
latex/**/*.log
latex/**/*.out
latex/**/*.run.xml
latex/**/*.synctex.gz
latex/**/*.toc
latex/**/*.lof
latex/**/*.lot
latex/**/*.nav
latex/**/*.snm
latex/**/*.vrb
latex/**/*.idx
latex/**/*.ilg
latex/**/*.ind
latex/**/*.thm
latex/**/*.acn
latex/**/*.acr
latex/**/*.alg
latex/**/*.glg
latex/**/*.glo
latex/**/*.gls
latex/**/*.ist
latex/**/*.xdy
latex/**/*.xdv
latex/**/*.dvi
latex/**/*.ps
latex/**/*.pdfsync
latex/**/*.loa
latex/**/*.loe
latex/**/latexmkrc
latex/**/arara.yaml
latex/build/
latex/out/
latex/_tex/
latex/_cache/
